@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #18181b;
  color: white;
}

.bg-dark {
  background-color: #18181b;
}

.bg-dark-card {
  background-color: #2a2a2e;
}

.text-white {
  color: white;
}

.bg-gray-300 {
  background-color: #dbdde06b;
}

.text-dark {
  color: white;
}

.border-gray-400 {
  border-color: #d1d5db;
}

.rounded-lg {
  border-radius: 0.2rem;
}

.focus\:border-primary:focus {
  border-color: #2563eb; 
}

.focus\:ring-primary:focus {
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.5); 
}
